
.home_slider{
    width:100%;
    height:500px;
    border:0px solid black;
}

.home_slider>img{
    width:100%;

}

.home1{
    width:100%
}
.home1>img{
    width:100%;
}

.main-home2{
    background-color: rgb(233, 148, 176);
    border:0px solid black;
    height: auto;
    width: 100%;
}

.home2{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    border:0px solid black;
    
}

.home2>div{
    
    border:0px solid black
}

.home2>div>img{
    width: 90%;
}

.main-home3{
    background-color: rgb(250, 245, 245);
}

.home3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.home3>div>img{
    width:100%;
}


.main-home4{
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:25px;

}

